
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main login form styling */
.login-form {
    background-color: #ffcb0c; 
    border: 2px solid #ccab00; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Form elements */
.login-form h1 {
    color: #ccab00; 
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color: #ccab00; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.login-form button:hover {
    background-color: #b18e00; /* Darker yellow on hover */
}


.sign-up-button {
    background-color: #ccab00; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}
